<phpunit
        colors="true"
        stderr="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false"
        bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="JSPushNotification SDK Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
